@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    --main-bg-color: #56282D;
    --color-1: #77966D;
    --color-2: #626D58;
    --color-3: #544343;
    --color-4: #e7d7c1;
}
* {
    color: var(--color-3);
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}
h1, p {
    color: var(--color-4);
}
h1 {
    height: 20vh;
    font-size: 4em;
}
p {
    font-size: 1em;
    grid-column-start: 2;
    grid-row-start: 2;
}
main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 50vh;
    width: 30vw;
}
button {
    border-radius: 5px;
    font-size: 300%;
    background-color: var(--color-1);
}
button:hover {
    background-color: var(--color-2);
}
button:active {
    transform: scale(0.9);
}
.restartButton {
    grid-column-start: 2;
    justify-self: center;
    font-size: 2em;
    height: fit-content;
    width: 200%;
    padding: .3em;
}