:root {
    --main-bg-color: ;
    --color-1: ;
    --color-2: ;
    --color-3: ;
    --color-4: ;
}
* {
    color: var(--color-3);
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}